/*  
Thanks to: Usama Tahir
https://medium.com/@AmJustSam
*/

* {
  margin: 0;
  padding: 0;
}

html {
  width: 100vw;
  height: 100vh;
}

/* CSS which you need for blurred box */
body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: top;
  /* background-image: url(http://bit.ly/2gPLxZ4); */
  background-image: url(images/retro.jpg);
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica;
  letter-spacing: 0.02em;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

.blurred-box {
  position: relative;
  width: 95%;
  height: 95%;
  top: 2.5%;
  left: 2.5%;
  background: inherit;
  overflow: hidden;
}

.blurred-box:after {
  content: "";
  width: 100%;
  height: 100%;
  background: inherit;
  position: absolute;
  box-shadow: inset 0 0 0 500px rgba(255, 255, 255, 0.05);
  filter: blur(20px);
}

.content {
  position: absolute;
  width: 95%;
  height: 95%;
  top: 2.5%;
  left: 2.5%;
  z-index: 999;

  text-align: center;
}

.input-group {
  margin: 0 auto;
  width: 75%;
}

h1 {
  font-family: Pacifico;
  font-size: 50px;
  margin-bottom: 20px;
}
